/**
 *
 * (c) Copyright Ascensio System SIA 2020
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation.
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at 20A-12 Ernesta Birznieka-Upisha street, Riga, Latvia, EU, LV-1050.
 *
 * The interactive user interfaces in modified source and object code versions of the Program
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program.
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International.
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 *
 */

.icon-onlyoffice-new-docx {
    background-image: url("../img/new-docx.svg");
}
.icon-onlyoffice-new-xlsx {
    background-image: url("../img/new-xlsx.svg");
}
.icon-onlyoffice-new-pptx {
    background-image: url("../img/new-pptx.svg");
}
.icon-onlyoffice-open,
.icon-onlyoffice-convert {
    background-image: url("../img/app-dark.svg");
}

/* onlyoffice-inline */
body.onlyoffice-inline {
    overscroll-behavior-y: none;
    overflow: hidden;
}
body.onlyoffice-inline #app-navigation,
body.onlyoffice-inline .searchbox,
body.onlyoffice-inline #app-content #controls {
    display: none;
}
body.onlyoffice-inline #content #app-content {
    margin-left: 0;
}
#onlyofficeFrame {
    background-color: #fff;
    width: 100%;
    height: calc(100vh - 50px);
    display: block;
    position: absolute;
    top: 0;
    z-index: 110;
}

#onlyofficeHeader {
    display: flex;
}

#onlyofficeHeader .icon {
    display: block;
    min-width: 50px;
    height: 50px;
}

/* AscDesktopEditor */
.AscDesktopEditor #body-user #header {
    display: none;
}
.AscDesktopEditor #body-user #content {
    padding-top: 0;
}
.AscDesktopEditor #body-user #app-navigation,
.AscDesktopEditor #body-user #controls,
.AscDesktopEditor #body-user #app-sidebar {
    top: 0;
}
.AscDesktopEditor #body-user #app-navigation {
    height: 100%;
}
.AscDesktopEditor #body-user #app-sidebar {
    height: 100vh;
}
.AscDesktopEditor #body-user table.multiselect thead {
    top: 44px;
}
.AscDesktopEditor #body-user #gallery-button {
    display: none;
}
