/**
 *
 * (c) Copyright Ascensio System SIA 2020
 *
 * This program is a free software product.
 * You can redistribute it and/or modify it under the terms of the GNU Affero General Public License
 * (AGPL) version 3 as published by the Free Software Foundation.
 * In accordance with Section 7(a) of the GNU AGPL its Section 15 shall be amended to the effect
 * that Ascensio System SIA expressly excludes the warranty of non-infringement of any third-party rights.
 *
 * This program is distributed WITHOUT ANY WARRANTY;
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * For details, see the GNU AGPL at: http://www.gnu.org/licenses/agpl-3.0.html
 *
 * You can contact Ascensio System SIA at 20A-12 Ernesta Birznieka-Upisha street, Riga, Latvia, EU, LV-1050.
 *
 * The interactive user interfaces in modified source and object code versions of the Program
 * must display Appropriate Legal Notices, as required under Section 5 of the GNU AGPL version 3.
 *
 * Pursuant to Section 7(b) of the License you must retain the original Product logo when distributing the program.
 * Pursuant to Section 7(e) we decline to grant you any rights under trademark law for use of our trademarks.
 *
 * All the Product's GUI elements, including illustrations and icon sets, as well as technical
 * writing content are licensed under the terms of the Creative Commons Attribution-ShareAlike 4.0 International.
 * See the License terms at http://creativecommons.org/licenses/by-sa/4.0/legalcode
 *
 */

 #content .section-onlyoffice .icon-info {
    box-sizing: content-box;
    padding-top: 6px;
}
.onlyoffice-header {
    display: inline-block;
    margin-top: 16px;
}
.section-onlyoffice input {
    display: block;
    width: 250px;
}
.onlyoffice-hide {
    display: none;
}
#onlyofficeAdv {
    cursor: pointer;
    text-decoration: none;
}
#onlyofficeAdv .icon {
    display: inline-block;
    margin-bottom: -3px;
}
#onlyofficeAddrSave {
    float: left;
}
.onlyoffice-demo {
    margin-left: 90px;
}
#s2id_onlyofficeLimitGroups,
#s2id_onlyofficeWatermark_allGroupsList,
#s2id_onlyofficeWatermark_allTagsList,
#s2id_onlyofficeWatermark_linkTagsList {
    margin-bottom: 16px;
    margin-left: 18px;
    margin-top: 6px;
    width: 250px;
}
.onlyoffice-exts {
    column-width: 100px;
    -moz-column-width: 100px;
    -webkit-column-width: 100px;
}
.onlyoffice-tables {
    column-width: 140px;
    -moz-column-width: 140px;
    -webkit-column-width: 140px;
}
